<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/css/bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/customerScc/BoardCustomer.css" rel="stylesheet" />

    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/fontawesome-free/css/all.css" rel="stylesheet" />
</head>
<body>
    <input type="hidden" id="gameId" value="@ViewBag.GameId" />
    <input type="hidden" id="userName" value="@User.Identity.Name" />

    <div class="mainDiv">
        <div class="boardHeader">
            <input type="text"  id="message"/>
            <button type="submit" onclick="SendMesage()">SendMesage</button>
            <h5 id="resivemessage" style="margin:0"></h5>
        </div>
        <div class="gameBoard">

        </div>

        <div class="boardFooter">
            <div>
                <a asp-action="MainRoom" asp-controller="GameRoom" class="btn "><i class="fa fa-home"></i></a>
                <button onclick="ChangeThema()" class="btn"><i class="fa fa-refresh"></i></button>
                <button asp-action="Lose" asp-route-GameId="@ViewBag.GameId" asp-controller="Game" class="btn"><i class="fa fa-flag"></i></button>
                <button class="btn"><i class="fa fa-comment"></i></button>
                <button class="btn"><i class="fa fa-handshake"></i></button>
            </div>
        </div>
    </div>
    <script src="~/signalr/SignalR.js"></script>
    <script>

        //create connection
        const connection = new signalR.HubConnectionBuilder()
            .withAutomaticReconnect()
            .withUrl("/gamehub")
            .build();

        function start() {
             try {
                 connection.start().then(function () {
                     connection.invoke("addgrup", gameId).catch(function (e) { console.log(e) });
                 });
            } catch (e) {
                setTimeout(function () { start(); }, 4000);
            }
        };
        start();
        //chat
        var oldmesage="";
        connection.on("recivemessage", function (msg, username) {
            $("#resivemessage").html("");
            $("#resivemessage").append(oldmesage + "    " + username + " : " + msg);
            oldmesage = username + " : " + msg+"****>";
        });

        function SendMesage() {
            connection.invoke("SendMessage", $("#message").val(), gameId);
            document.getElementById("message").value = '';
        }
        
        var queue = "";
        var wightStoneUser = "";
        var username = $('#userName').val();
        var gameId = $('#gameId').val();
        var lock = false;

        $(document).ready(function () {
            
        //prepare stone function
        (function ($) {
            $.fn.StonePreppare = function (x, y,z,classname ) {
                var $e = $("<div>", {
                    id: x + "" + y+""+z, class: classname,
                    style: "left:" + (x * 12.5) + "%; top:" + (y * 12.5) + "%"
                });
                $e.addClass("stone")
                this.append($e);
            }
            })(jQuery);
        //start game and prepare stone
                $.ajax({
                type: "POST",
                url : "@Url.Action("StartGame", "Game")",
                data: { id: gameId},
                    success: function (msg) {
                        var wc = JSON.parse( msg.whiteCoordinate);
                        var bc = JSON.parse(msg.blackCoordinate);
                    queue = msg.queue;
                    wightStoneUser = msg.gamer1;

                    $(wc).each(function (i, value) {
                        var x = value.X;
                        var y = value.Y;
                        var z = value.Z;
                        if (z > 0) $(".gameBoard").StonePreppare(x, y,z, 'whiteQuenStone');
                        else $(".gameBoard").StonePreppare(x, y,z, 'whiteSimpleStone');
                    });
                    $(bc).each(function (i, value) {
                        var x = value.X;
                        var y = value.Y;
                        var z = value.Z;
                        if (z > 0) $(".gameBoard").StonePreppare(x, y,z, 'blackQuenStone');
                        else $(".gameBoard").StonePreppare(x, y,z, 'blackSimpleStone');
                    });
                    $(".whiteSimpleStone, .blackSimpleStone, .blackQuenStone, .whiteQuenStone ").click(function () {
                        StoneClick($(this).attr("id"));
                    });
                    //rotate board
                    if (wightStoneUser === username) {
                        $(".gameBoard").addClass("boardRotate");
                    }
                },
                error: function (msg) {console.log(msg); }
            });
           // timer = setInterval(CkeckGame, 2000);
            
        });

        //move stone
        connection.on("movedstone", function (msg) {
            if (msg.indexOf('GameStatuse') > -1) {
                alert(msg);
                return;
            }
            // obj=PlayGame
            var obj = jQuery.parseJSON(msg);
            queue = obj.Queue;
            var objMove = jQuery.parseJSON(obj.Move)
            //stone dum
            var dumX = objMove.DumX;
            var dumY = objMove.DumY;
            if (dumX > 0 || dumY > 0) {
                var deletedStone = dumX + "" + dumY;
                $("[id^='" + deletedStone + "']").remove();
            }
            //stone move
            var idlike = objMove.OldX + "" + objMove.OldY;
            var moveElement = $("[id^='" + idlike + "']");
            moveElement.animate({ left: objMove.NewX * 12.5 + "%", top: objMove.NewY * 12.5 + "%" });
            moveElement.attr("id", objMove.NewX + "" + objMove.NewY + "" + objMove.NewZ);
            // change element from simple to quen
            if (objMove.OldZ < 1 && objMove.NewZ > 0) {
                if (moveElement.hasClass("whiteSimpleStone")) {
                    moveElement.removeClass("whiteSimpleStone");
                    moveElement.addClass("whiteQuenStone");
                }
                else if (moveElement.hasClass("blackSimpleStone")) {
                    moveElement.removeClass("blackSimpleStone");
                    moveElement.addClass("blackQuenStone");
                }
            }
        });

       // var timer;
        //Check game 2sec
        //function CkeckGame() {
        //        $.ajax({
        //            type: "POST",
        //            url: "/Game/CkeckGame",
        //            data: { gameId: gameId },
        //            dataType: "text",
        //            success: function (msg) {
        //                if (msg.indexOf('GameStatuse')>-1) {
        //                    clearInterval(timer);
        //                    alert(msg);
        //                    return;
        //                }
        //                // obj=PlayGame
        //                var obj = jQuery.parseJSON(msg);
        //                queue = obj.Queue;
        //                var objMove = jQuery.parseJSON(obj.Move)
        //                //stone dum
        //                var dumX = objMove.DumX;
        //                var dumY = objMove.DumY;
        //                if (dumX > 0 || dumY > 0) {
        //                    var deletedStone = dumX + "" + dumY;
        //                    $("[id^='" + deletedStone + "']").remove();
        //                }
        //                //stone move
        //                var idlike = objMove.OldX + "" + objMove.OldY;
        //                var moveElement= $("[id^='" + idlike + "']");
        //                moveElement.animate({ left: objMove.NewX * 12.5 + "%", top: objMove.NewY * 12.5 + "%" });
        //                moveElement.attr("id", objMove.NewX + "" + objMove.NewY);
        //                // change element from simple to quen
        //                if (objMove.OldZ < 1 && objMove.NewZ > 0) {
        //                    if (moveElement.hasClass("whiteSimpleStone")) {
        //                        moveElement.removeClass("whiteSimpleStone");
        //                        moveElement.addClass("whiteQuenStone");
        //                    }
        //                    else if (moveElement.hasClass("blackSimpleStone")) {
        //                        moveElement.removeClass("blackSimpleStone");
        //                        moveElement.addClass("blackQuenStone");
        //                    }
        //                }
        //                },
        //                error: function (msg) {console.log(msg);}
        //            }
        //        );
        //}
        //stone click function

        function StoneClick(id) {
            //possible stone click
            if (queue === username) {
                var selectedStone = document.getElementById(id);
                if (wightStoneUser === username && ($(selectedStone).hasClass("whiteSimpleStone") || $(selectedStone).hasClass("whiteQuenStone"))) {
                    PossiblePlace(id);
                } else if (wightStoneUser !== username && ($(selectedStone).hasClass("blackSimpleStone") || $(selectedStone).hasClass("blackQuenStone"))) {
                    PossiblePlace(id);
                    }
                }
        }

        var oldX;
        var oldY;
        var oldZ;
        var dum = false;
        function PossiblePlace(e) {
            oldX = e.charAt(0);
            oldY = e.charAt(1);
            oldZ = e.charAt(2);
            $(".DumPossiblePlace").remove();
            $(".PossiblePlace").remove();
            $(".DumElement").removeClass("DumElement");
            $.ajax({
                type: "POST",
                url: "@Url.Action("PossiblePlace","Game")",
                data: {
                    x: oldX,
                    y: oldY,
                    z: oldZ,
                    gameId:gameId,
                },
                dataType: "text",
                success: function (msg) {
                    // obj=UICorrdinate listPossible anda listDumPossible
                    var obj = jQuery.parseJSON(msg);
                    if (obj != null) {
                        //simple possible coordinates
                        $(obj.PossibleCoordinates).each(function (i, value) {
                            var $e = $("<div>", {
                                id: value.X + "/" + value.Y,
                                style: "left:" + (value.X * 12.5) + "%; top:" + (value.Y * 12.5) + "%",
                                onclick: "Move('" + value.X + "/" + value.Y + "')"
                            });
                            $e.addClass("PossiblePlace");
                            $(".gameBoard").append($e);
                        });
                        //dum stone coordinates
                        dum = false;
                        $(obj.DumCoordinates).each(function (i, value) {
                            var idlike = value.X + "" + value.Y;
                            $("[id^='" + idlike + "']").addClass("DumElement");
                            dum = true;
                        });
                    }
                },
                error: function (msg) {  }
            });
        }
        function Move(e) {
            x = e.charAt(0);
            y = e.charAt(2);
            $(".DumElement").removeClass("DumElement"); $(".PossiblePlace").remove();
            if (dum) {
                $(".DumPossiblePlace").remove();
                DumMove(x, y);
            } else {
                SimpleMove(x, y);
            }
        }
        function SimpleMove(x, y) {
        queue = "";
        $.ajax({
            type: "POST",
            url: "/Game/Move",
            data: {
                gameId: gameId, oldX: oldX, oldY: oldY, oldZ: oldZ, newX: x, newY: y
            },
            dataType: "text",
            //success:
            //    function (msg) {
            //    console.log(msg);
            //    var obj = jQuery.parseJSON(msg);//obj=Move
            //    if (obj != null) {
            //        var idlike = obj.OldX + "" + obj.OldY;
            //        var moveElement = $("[id^='" + idlike + "']");
            //        moveElement.animate({ left: obj.NewX * 12.5 + "%", top: obj.NewY * 12.5 + "%" });
            //        moveElement.attr("id", obj.NewX + "" + obj.NewY + "" + obj.NewZ);
            //        console.log(obj.NewZ);
            //        // change element from simple to quen
            //        if (obj.OldZ < 1 && obj.NewZ > 0) {
            //            if (moveElement.hasClass("whiteSimpleStone")) {
            //                moveElement.removeClass("whiteSimpleStone");
            //                moveElement.addClass("whiteQuenStone");
            //            }
            //            else if (moveElement.hasClass("blackSimpleStone")) {
            //                moveElement.removeClass("blackSimpleStone");
            //                moveElement.addClass("blackQuenStone");
            //            }
            //        }

            //    }
            //},
            error: function (msg) { console.log(msg);  }
            });
        }
        function DumMove(x, y) {
            $.ajax({
            type: "POST",
            url: "/Game/DumMove",
                data: {
                    gameId: gameId, oldX: oldX, oldY: oldY, oldZ: oldZ, newX: x, newY: y
            },
            dataType: "text",
            //success: function (msg) {
            //    var obj = jQuery.parseJSON(msg);//0bj=Move
            //    if (obj != null) {
            //        //remove stone
            //        var dumX = obj.DumX;
            //        var dumY = obj.DumY;
            //        console.log(dumX +""+ dumY);
            //        if (dumX > 0 || dumY > 0) {
            //            var deletedStone = dumX + "" + dumY;
            //            $("[id^='" + deletedStone + "']").remove();
            //        }
            //        //move
            //        var idlike = obj.OldX + "" + obj.OldY;
            //        var moveElement = $("[id^='" + idlike + "']");
            //        moveElement.animate({ left: obj.NewX * 12.5 + "%", top: obj.NewY * 12.5 + "%" });
            //        moveElement.attr("id", obj.NewX + "" + obj.NewY + "" + obj.NewZ);
            //        // change element from simple to quen
            //        if (obj.OldZ < 1 && obj.NewZ > 0) {
            //            if (moveElement.hasClass("whiteSimpleStone")) {
            //                moveElement.removeClass("whiteSimpleStone");
            //                moveElement.addClass("whiteQuenStone");
            //            }
            //            else if (moveElement.hasClass("blackSimpleStone")) {
            //                moveElement.removeClass("blackSimpleStone");
            //                moveElement.addClass("blackQuenStone");
            //            }
            //        }
            //        queue = "";
            //    }
            //},
            error: function (msg) { console.log(msg);  }
         });
        }

        function ChangeThema() {
            var n = Math.floor(Math.random() * 4) + 1;
            var name = "url('/img/wood" + n.toString() + ".jpg')"
            $(".mainDiv").css({ 'background-image': name})
        }

    </script>


</body>
</html>
