@model List<UIChatInfo>
 <!-- DIRECT CHAT DANGER -->
<div class="row">
    <div class="col-sm-3 offset-sm-9">
        <div class="card card-danger direct-chat direct-chat-danger">
            <div class="card-header">
                <h3 id="chatHead" class="card-title">Direct Chat</h3>

                <div class="card-tools">
                    @if (Model != null)
                    {
                        <span id="SumNoRead" data-toggle="tooltip" class="badge">@Model.Sum(mm => mm.NoReadCount)</span>
                    }

                    <button type="button" class="btn btn-tool" onclick="minim()" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                            data-widget="chat-pane-toggle">
                        <i class="fas fa-comments"></i>
                    </button>
                    <button type="button" class="btn btn-tool" onclick="remove()" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- Conversations are loaded here -->
                <div id="chatbox" class="direct-chat-messages">

                </div>
                <!--/.direct-chat-messages-->
                <!-- Contacts are loaded here -->
                <div class="direct-chat-contacts">
                    <ul class="contacts-list">
                        <li>
                            @if (Model?.Count > 0)
                            {
                                for (int i = 0; i < Model.Count; i++)
                                {
                                    <button onclick="showChat('@Model[i].SenderId', '@Model[i].SenderName')" class="btn btn-success" data-toggle="tooltip" data-widget="chat-pane-toggle">
                                        <img class="contacts-list-img" src="~/dist/img/avatar5.png" />
                                        <span class="contacts-list-name">
                                            @Model[i].SenderName &nbsp; <span id="@Model[i].SenderName">@Model[i].NoReadCount</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <small class=" float-right">@Model[i].LastDate.ToString("yyyy/MM/dd HH:mm:ss")</small>
                                        </span>
                                    </button>

                                }
                            }

                        </li>
                        <!-- End Contact Item -->
                    </ul>
                    <!-- /.contatcts-list -->
                </div>
                <!-- /.direct-chat-pane -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">

                <div class="input-group">
                    <input type="text" id="writemessage" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append">
                        <button type="button" onclick="sendMessage()" class="btn btn-danger">Send</button>
                    </span>
                </div>

            </div>
            <!-- /.card-footer-->
        </div>
    </div>

</div>
<input type="hidden" value="@ViewBag.userid" id="userId" />
<input type="hidden" value="@User.Identity.Name" id="UserName" />
<input type="hidden" value=""  id="ActiveChatName" />
<input type="hidden" value="" id="ActiveChatId" />
<!--/.direct-chat -->
<script src="~/customerJS/DateFormatter.js"></script>
<script src="~/signalr/SignalR.js"></script>
<script src="~/customerJS/createElements.js"></script>
<script>
    

    var userid = $("#userId").val();
    var name = "";
    var senderid = 0;
    var cueUserName = $("#UserName").val();
    function showChat(senderId, senderName) {
        $("#ActiveChatName").val(senderName);
        $("#ActiveChatId").val(senderId);
        $("#chatHead").text(senderName);


        name = senderName;
        senderid = senderId;
        $.ajax({
            url: "/Chat/GetLast50/" + senderId,
            method: "post",
            success:
                function (msgs) {
                    //var result = JSON.parse(msgs);
                    var sumNoRead = $("#SumNoRead");
                    var noReaduser = $("#" + senderName);
                    var c = sumNoRead.text() - noReaduser.text(); 
                    if (c >= 0) {
                        sumNoRead.text(c);
                        $("#badgeChat").text(c);
                    }
                    noReaduser.text("");

                    var chatbox = $("#chatbox");
                    chatbox.html("");
                    $(msgs).each(function (i, value) {
                        if (value.senderId == userid) {
                            var rm = right(cueUserName, value.message, dateFormat(new Date(value.date), "mmm dd HH:MM:ss"));
                            chatbox.append(rm);
                        }
                        else {
                            var rm = left(name, value.message, dateFormat(new Date(value.date), "mmm dd HH:MM:ss"));
                            chatbox.append(rm);
                        }
                    });
                    chatbox.animate({ scrollTop: chatbox.prop("scrollHeight") }, 1000);
                }
        });
    }

    
 
    function sendMessage() {
        if (senderid == 0) return;
        var sendmsg = $("#writemessage").val();
        var chatbox = $("#chatbox");
        $.ajax({
            url: "/Chat/SendMesage",
            data: {
                recveid: senderid,
                message: sendmsg
            },
            method: "post",
            success:
                function () {
                    var rm = right(name, sendmsg, dateFormat(new Date($.now()), "mmm dd HH:mm:ss"));
                    $("#writemessage").val('');
                    chatbox.append(rm);
                    chatbox.animate({ scrollTop: chatbox.prop("scrollHeight") }, 1000);
                }
        });
    }

    function remove() {;
        $("#ActiveChatName").val("");
        $("#ActiveChatId").val("");
        $("#chatbox").html("");
        $("#chatHead").text("Direct Chat");
    }

    function minim() {
        $("#ActiveChatName").val("");
        $("#ActiveChatId").val("");
        $("#chatbox").html("");
        $("#chatHead").text("Direct Chat");
    }



</script>
